spigot.jar
banned-ips.txt
banned-players.txt
ops.txt
white-list.txt
server.log
ignore/
world/
world_nether/
world_the_end/
plugins/CommandBook/bans.*
plugins/CommandBook/sessions/*
plugins/WorldEdit/worldedit.log
plugins/WorldEdit/worldedit.log.*
plugins/Herochat/chatters/*
plugins/Herochat/logs/*
plugins/Corruption/players.dat
plugins/Corruption/players.dat.temp
plugins/PluginMetrics/
plugins/Quests/data/*.yml
plugins/mcMMO/FlatFileStuff/mcmmo.users
plugins/mcMMO/backup/*.zip

plugins/HomeSpawnPlus/debug.log

plugins/HomeSpawnPlus/debug.log.1

plugins/HomeSpawnPlus/HomeSpawnPlus.db
