spigot.jar
banned-ips.txt
banned-players.txt
ops.txt
white-list.txt
server.log
ignore/
world/
world_nether/
world_the_end/
plugins/CommandBook/bans.*
plugins/CommandBook/sessions/*
plugins/WorldEdit/worldedit.log
plugins/WorldEdit/worldedit.log.*
