/GuestPrev/users.log
/GuestPrev/authorized.txt
/GuestPrev/banned.txt
/HeroicDeath/death_data.log
/HeroicDeath/death_messages.log
/iConomy/minecraft.h2.db
/iConomy/minecraft.lock.db
/iConomy/minecraft.trace.db
/iConomy/VERSION
/LocalShops/transactions.log
/MinecartMania/Sensors.data
/MultiInv/inventories.data
/LocalShops/shops
/Towny/backup
/Towny/data
/Towny/logs
/uQuest/uQuest_Players.txt
/uQuest/uQuestQuesters
/CommandBook/bans.*
/.DS_Store
/mcMMO/mcmmo.users